It was a Thursday night. I had just gotten home from bowling. Hit eleven strikes over two games. My
skill was congratulated, but I was far off from where I wanted to be, and I knew it was possible, at
least I could get better. I had the technique in me, but doing it consistently could only be
strengthened with more time. I'll probably go and practice on my own tomorrow.

The reason i'm writing this is because i cant sleep. No one else is online. Yes, i'm bored. What do
i even do? I know I should sleep, but my mind is just constantly going on about this.

Forget it, i need to sleep.
