I just got back from work. Waking up today was horrible, but somehow actually happened. I was awake
enough to do my job, but tired enough to get the concern of others. A couple people knew about
Thursday Bowling, so i could tell them i was just out late. most had no idea about my hobby, so i
just said a basic statement of "not having a good day" yesterday. nothing fancy, just to wave the
attention off me.

There's still a lot of time in the day, i think i'll go to the bowling alley to practice and maybe
get some taco bell or whatever they have at the alley itself. i'll figure it out.