// Recursive Font
@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0.25,0,0..1&display=swap');
// Uncomment the below for a font that is 2.5x the filesize (281kb)
// @import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap');

@import './layout/container.scss';
@import './layout/flex.scss';

*,
::before,
::after {
  box-sizing: border-box;
  font-variation-settings: 'MONO' var(--text-mono), 'CASL' var(--text-casual),
    'slnt' var(--text-slant), 'CRSV' var(--text-cursive);
}

body {
  font-family: Recursive, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// Set --text-mono variable instead of switching fonts.
code,
kbd,
samp,
pre {
  --text-mono: 1;
  font-family: inherit;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}
