# my philosophy

The meaning of life is to have fun, but also remembering to survive. That is the summary of all of
this, and what I want you to take away from my words. That one line is my favorite piece of
literature that I have ever written, and maybe even read. Quality-wise, everything goes downhill
from here, but I'll try to keep the rest of this interesting with some more of my philosophy.
