:root {
  --green-900: #007205;
  --green-800: #009223;
  --green-700: #00a32f;
  --green-600: #13b63c;
  --green-500: #22c646;
  --green-400: #51d064;
  --green-300: #76d982;
  --green-200: #a0e3a7;
  --green-100: #c6eec9;
  --green-50: #e7f8e9;

  --cyan-900: #005d40;
  --cyan-800: #007a5d;
  --cyan-700: #008b6c;
  --cyan-600: #009c7c;
  --cyan-500: #00a98a;
  --cyan-400: #00b89b;
  --cyan-300: #22c6ad;
  --cyan-200: #74d7c5;
  --cyan-100: #ade6dc;
  --cyan-50: #def5f2;

  --blue-900: #0658a3;
  --blue-800: #0079c6;
  --blue-700: #008ada;
  --blue-600: #009def;
  --blue-500: #00abfe;
  --blue-400: #20b8ff;
  --blue-300: #4cc5ff;
  --blue-200: #80d6ff;
  --blue-100: #b3e6ff;
  --blue-50: #e1f5ff;

  --purple-900: #6d007a;
  --purple-800: #8a0084;
  --purple-700: #9a008a;
  --purple-600: #ac0090;
  --purple-500: #b90094;
  --purple-400: #c622a2;
  --purple-300: #d255b2;
  --purple-200: #e089c8;
  --purple-100: #edb9dd;
  --purple-50: #f8e3f1;

  --red-900: #c80518;
  --red-800: #d71a25;
  --red-700: #e4242c;
  --red-600: #f63032;
  --red-500: #ff3a32;
  --red-400: #ff4f4f;
  --red-300: #f37274;
  --red-200: #f99a9b;
  --red-100: #ffced3;
  --red-50: #ffebef;

  --yellow-900: #f77d0a;
  --yellow-800: #faa719;
  --yellow-700: #fcbf21;
  --yellow-600: #fdd729;
  --yellow-500: #fae72a;
  --yellow-400: #fdec4e;
  --yellow-300: #fff599;
  --yellow-200: #fff599;
  --yellow-100: #fff9c2;
  --yellow-50: #fffde6;

  --grey-900: #101010;
  --grey-800: #303030;
  --grey-700: #4e4e4e;
  --grey-600: #616161;
  --grey-500: #888888;
  --grey-400: #a9a9a9;
  --grey-300: #cecece;
  --grey-200: #e1e1e1;
  --grey-100: #ededed;
  --grey-50: #f7f7f7;
}
