@import './fonts.scss';
@import './reset.scss';

body {
  // We use css variables for the variable font properties
  --text-mono: 0;
  --text-casual: 0;
  --text-slant: 0;
  --text-cursive: 0.5;
  // We use css variables for material symbols
  --icon-fill: 1;
  --icon-grad: 0;

  background-color: black;
  overflow-y: scroll;
  line-height: 1.15;
  font-family: 'Recursive', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  letter-spacing: -0.005em;
}

* {
  // Apply the font variables
  font-variation-settings: 'MONO' var(--text-mono), 'CASL' var(--text-casual),
    'slnt' var(--text-slant), 'CRSV' var(--text-cursive);
}

.material-symbols {
  font-optical-sizing: auto;
  font-variation-settings: 'FILL' var(--icon-fill), 'GRAD' var(--icon-grad);
}

#root {
  position: relative;
  margin: 0 auto;
  background-color: white;
  width: 100%;
  max-width: 3860px; // you should not be browsing above this lol
  min-height: 100vh;
}

:where(h1, h2, h3, h4, h5, h6):not(.custom) {
  font-family: 'Roboto Slab', sans-serif;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}

:root {
  --dark: 0;
  --light: 1;

  --bg-hue: 0;
  --bg-sat: 0%;
  --bg-lit: 100%;
  --fg-hue: 0;
  --fg-sat: 0%;
  --fg-lit: 0%;

  --acc-hue: 133;
  --acc-sat: 71%;
  --acc-lit: 45%;

  --on-accent: 0, 0%, 0%;
}

:root,
theme-root {
  --fg: var(--fg-hue), var(--fg-sat), var(--fg-lit);
  --bg: var(--bg-hue), var(--bg-sat), var(--bg-lit);
  --acc: var(--acc-hue), var(--acc-sat), var(--acc-lit);

  --acc-l3: calc(var(--acc-hue) - 8), calc(var(--acc-sat) * 1.2 + 10%),
    calc(var(--acc-lit) * 1.6 + 10%);
  --acc-l2: calc(var(--acc-hue) - 4), calc(var(--acc-sat) * 1.15 + 6%),
    calc(var(--acc-lit) * 1.4 + 6%);
  --acc-l1: calc(var(--acc-hue) - 1), calc(var(--acc-sat) * 1.1 + 3%),
    calc(var(--acc-lit) * 1.3 + 3%);
  --acc: var(--acc-hue), var(--acc-sat), var(--acc-lit);
  --acc-d1: calc(var(--acc-hue) + 1), calc(var(--acc-sat) * 1.1 + 3%),
    calc(var(--acc-lit) * 0.9 - 5%);
  --acc-d2: calc(var(--acc-hue) + 2), calc(var(--acc-sat) * 1.15 + 6%),
    calc(var(--acc-lit) * 0.75 - 7%);
  --acc-d3: calc(var(--acc-hue) + 5), calc(var(--acc-sat) * 1.5 + 10%),
    calc(var(--acc-lit) * 0.6 - 8%);
}

theme-root {
  display: grid;
  position: relative;
  flex: 1;
  background-color: hsl(var(--bg));
  width: 100%;
  color: hsl(var(--fg));

  &.swap * {
    transition-duration: 0ms !important;
  }
}

// This is a non-standard element (html5 spec disallows this) but it's so goddamn nice to use
// <flex> is like a div but its default to a flexbox, and has some nice attributes
// i promise if i go work for a company, i'll do things the "real" way.
:where(flex) {
  display: flex;
  &[row] {
    flex-direction: row;
  }
  &,
  &[column] {
    flex-direction: column;
  }
  &[row][reverse] {
    flex-direction: row-reverse;
  }
  &[reverse],
  &[column][reverse] {
    flex-direction: column-reverse;
  }
  &[gap] {
    gap: 1rem;
  }
  &[center] {
    justify-content: center;
    align-items: center;
  }
}

// This is another non-standard element.
// <grid>, like <flex>, is like a div but its default to a grid
:where(grid) {
  display: grid;

  &[center] {
    justify-content: center;
    align-items: center;
  }
}

// Links are restyled using the theme, but .custom is a special class that can be used to disable
// this behavior
a:not(.custom) {
  border-radius: 4px;
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: hsla(var(--fg), 0.3);

  &:hover {
    color: hsla(var(--fg), 0.7);
    text-decoration-color: hsla(var(--fg), 0.7);
  }
  &:active {
    background-color: hsl(calc(var(--acc-hue) + 20), 100%, 50%);
    color: black;
    text-decoration: none;
  }
}
