// This reset file is modified off of tailwind's stuff.
// its all stuff that people smarter than me have done
@import 'modern-normalize';

*,
::before,
::after {
  box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-image: none;
  background-color: transparent;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

textarea {
  resize: vertical;
}

button,
[role='button'] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  color: inherit;
  line-height: inherit;
}

pre,
code,
kbd,
samp {
  --text-mono: 1;
  font-family: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
